.home {
    //margin-top: 10px;
}

.toolbar-title{
    text-align: left;
}

#bigger{
    padding: 130px;
}

.temp {
    font-size: 40px;
    text-align: center;
    font-weight: normal; 
}

.location, .icon, .desc{
    text-align: center;
}

.icon img {
    width: 90px;
}

.location {
    font-size: 40px;
}

.desc {
    font-size: 30px;
}